
body{
    background-image: url('bg-ex2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#icon1{
    position: absolute;
    left: 100px;
    top: 40px;
    width: 85px;
    height: 80px;
}
#text-icon{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    left: 190px;
    top: 60px;
}
.button{
    text-align: center;
    position: absolute;
    top: 398px;
    left: 865px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    text-align: center;
    display: flexbox;
    font-size: 17px;
}
#text1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 170px;
    left: 115px;
}
#text2{
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 260px;
    left: 115px;
}
#text3{
    font-size: 25px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 380px;
    left: 115px;
}
#text4{
    font-size: 25px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 420px;
    left: 115px;
}
#text5{
    font-size: 25px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 460px;
    left: 115px;
}
#icon-phone{
    position: absolute;
    width: 290px;
    height: 530px;
    right: 165px;
    top: 180px;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    text-underline-offset: unset;
    margin-top: 27px;
}
button{
    padding:7px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 80px;
    margin-left: 10px;
}
li ,a {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 100%;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link li{
    display: inline-block;
    padding: 0px 20px;
}